@mixin component-box {
  margin: 20px 0px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
  border: 1px solid $brand-dark;

  > .header {
    background-color: $brand-dark;

    .menu {
      @include component-menu
    }

    > h1 {
      margin: 0px;
      padding: 10px;
      font-size: 120%;
      color: #fff;
    }
  }

  > .body {
    padding: 10px;
  }
}

@mixin component-menu {
  margin: 3px;
  float: right;

  > button {
    margin: 0px 3px;
  }
}

@mixin component-list-box {
  margin: 20px 0px;

  > .header {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    background-color: $brand-lightest;

    > h1 {
      margin: 0px;
      padding: 5px 10px 5px 10px;
      font-size: 120%;
      color: $brand-dark;
    }

  }

  > .body {
    padding: 0px 10px;
  }
}
