@import "../../scss/lib";

.node {
  border-bottom: 1px solid $mono-lighter;
  min-height: 35px;

  .datas {
    @include make-row;

    .data {
      @include make-col-ready;
      border-left: 1px solid $mono-lighter;
      padding: 3px;
      height: 35px;

      &.title {
        @include make-col(4);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.content {
        @include make-col(3);
      }

      &.action {
        @include make-col(2);
      }

      &.log {
        @include make-col(3);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
