@import "../../scss/lib";

$height: 35px;

.node {
  border-bottom: 1px solid $mono-lighter;
  min-height: $height;
  display: flex;
  align-items: center;

  > .data {
    height: $height;
    border-right: 1px solid $mono-lighter;
    padding: 3px;
    display: flex;
    align-items: center;

    &.title {
      flex: 1 1 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.content {
      flex: 1 1 300px;
      overflow: hidden;
    }

    &.log {
      flex: 1 2 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.action {
      flex: 0 0 55px;
      justify-content: flex-end;
    }
  }
}
