extends ../base-switch-entity-component.jade

block variables
  -
    var singularName = "action";
    var pluralName = "actions";
    var children = [
      "if",
      "log",
      "notify",
      "read",
      "write",
    ];
