extends ./base-action-component.jade

block variables
  -
    var icon = "cog"
    var singularName = "if";
    var singularTitleizeName = "If";

block body
  now construction

block form
  .form-group
    label Token
    input.form-control(type="text", v-model="editEntity.token", required)
  .form-group
    label Address
    input.form-control(type="text", v-model="editEntity.addr")
  .form-group
    label Port
    input.form-control(type="number", v-model="editEntity.port")
