-
  var actions = [
    "if",
    "log",
    "notify",
    "read",
    "write",
  ];

section(v-if="!add", class!=singularName)
  each action in actions
    #{action + "-action-component"}(v-if="entity.type == '#{action}'", :entity="entity")
.add(v-else)
  each action in actions
    #{action + "-action-component"}(:add="true")
