include ./base-entity-component-mixin.jade

block variables

section(v-if="!add", class!=singularName)
  .header
    +dropdown()
    h1 #[i.fa(class="fa-#{icon}")] #{singularTitleizeName}: {{entity.name}}
  .body
    block body
.add(v-else)
  button.btn.btn-primary.btn-block(type="button", @click="showModal = true") #[i.fa.fa-plus] Add #{singularTitleizeName}
+modal()
