section.board(v-if="!add")
  .header
    dropdown.pull-right(text="Menu", type="primary")
      li
        a(@click="showModal = true") Edit
      li
        a(@click="delete") Delete
    h1 Board: {{entity.name}}
  .body
    div(v-if="!bridges") Loading bridges...
    .nothing(v-if="bridges && bridges.length == 0") No bridges
.add(v-else)
  button.btn.btn-primary.btn-block(type="button", @click="showModal = true") Add Board
modal(title="Edit Board", :show.sync="showModal", effect="fade")
  .modal-body(slot="modal-body")
    form(v-if="editEntity", @submit.prevent="edit()")
      .form-group
        label Name
        input.form-control(type="text", v-model="editEntity.name", required)
      .form-group
        label Label
        input.form-control(type="text", v-model="editEntity.label")
      .form-group
        label Token
        input.form-control(type="text", v-model="editEntity.token", required)
      .form-group
        label Address
        input.form-control(type="text", v-model="editEntity.addr")
      .form-group
        label Port
        input.form-control(type="number", v-model="editEntity.port")
      button.btn.btn-primary.btn-block(type="submit") Submit
  .modal-footer(slot="modal-footer")
      button.btn.btn-default(type="button", @click="showModal = false") Close
