extends ./base-entity-component.jade

block variables
  -
    var icon = "sitemap"
    var singularName = "board";
    var singularTitleizeName = "Board";

block body
  +children("bridge-component", "bridge", "bridges")
