extends ./base-entity-component.jade

block variables
  -
    var icon = "plug";
    var singularName = "bridge";
    var singularTitleizeName = "Bridge";

block body
  +children("action-component", "action", "actions")
