extends ./base-entity-component.jade

block variables
  -
    var icon = "bell"
    var singularName = "notifier";
    var singularTitleizeName = "Notifier";

block body
  p now construction

block form
