extends ./base-entity-component.jade

block variables
  -
    var singularName = "server";
    var singularTitleizeName = "Server";
    var disableDelete = true;

block body
  +children("board-component", "board", "boards")
