extends base-node-component

block variables
  -
    var isServer = true;

block body
  +children("board-node-component", "board", "boards", "tab")
  +children("notifier-node-component", "notifier", "notifiers", "box")
  +children("job-node-component", "job", "jobs", "box")
