extends ./base-entity-component.jade

block variables
  -
    var disableDelete = true;

block body
  +children-tab("board-component", "board", "boards")
  +children-box("notifier-component", "notifier", "notifiers")
  +children-box("job-component", "job", "jobs")
