extends ./base-entity-component.jade

block body
  +children("board-component", "board", "boards")
  +children("notifier-component", "notifier", "notifiers")
  +children("job-component", "job", "jobs")
