extends ./base-entity-component.jade

block variables
  -
    var singularName = "server";
    var singularTitleizeName = "Server";
    var disableDelete = true;

block body
  board-component(v-for="board in boards", :entity="board")
  div(v-if="!boards") Loading boards...
  .nothing(v-if="boards && boards.length == 0") No boards
  board-component(:add="true")
